

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../image/bg.jpeg');
    background-size: cover;
}
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    background-color: transparent;
}
input {
    background-color: transparent;
}
.brand-logo {
    width: 120px;
    height: 140px;
}
.s-button-primary {
    border: 2px solid gold;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.form-group {
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.form-group > input {
    height: 50px;
}
.s-button-secondary {
    border: 2px solid blue;
    background-color: blue;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.jumbotron {
    color: blue;
    background-color: transparent;
    font-family: 'Mark Pro Bold';
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
}
.btn-xl {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
}
p {
    font-size: medium;
}
.bold {
    font-weight: 600;
    
}
footer > div > img {
    width: 100px;
    font-family: 'Mark Pro Medium';
}
p > strong {
    font-size: x-large;
}
.member {
    background-color: rgb(255, 222, 32);
    color: white
}
ul li
{
    list-style-type: none;
}

   